body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}

.Wireframe5 {
    width: 1280px;
    height: 2003px;
    position: relative;
    background: white;
}

.DefaultOnlyJustARectangleSkyBlueWhiteInColourCreate1Dc82fc9273cb4503B728Ddfb94d5717701 {
    width: 6408px;
    height: 4802px;
    left: -3367px;
    top: -346px;
    position: absolute;
}

.Group174 {
    width: 1280px;
    height: 1875px;
    left: 0px;
    top: 128px;
    position: absolute;
}

.Group169 {
    width: 1280px;
    height: 332px;
    left: 0px;
    top: 1543px;
    position: absolute;
}

.Rectangle3 {
    width: 1280px;
    height: 332px;
    left: 1280px;
    top: 332px;
    position: absolute;
    transform: rotate(-180deg);
    transform-origin: 0 0;
    background: #3990D6;
}

.WeEncourageWaterSavingAndAllWriteAccordinglyQuoteWrittenByRealSher {
    left: 200px;
    top: 128px;
    position: absolute;
    color: white;
    font-size: 28px;
    font-family: League Spartan;
    font-weight: 500;
    line-height: 35.28px;
    word-wrap: break-word;
}

.Group140 {
    width: 1077px;
    height: 55px;
    left: 102px;
    top: 0px;
    position: absolute;
}

.Group137 {
    width: 297px;
    height: 55px;
    left: 0px;
    top: 0px;
    position: absolute;
}

.LocalEase {
    left: 86px;
    top: 9px;
    position: absolute;
    color: black;
    font-size: 48px;
    font-family: League Spartan;
    font-weight: 500;
    word-wrap: break-word;
}

.Angur {
    width: 55px;
    height: 55px;
    left: 0px;
    top: 0px;
    position: absolute;
    justify-content: center;
    align-items: center;
    display: inline-flex;
}

.Group {
    width: 55px;
    height: 55px;
    position: relative;
}

.Ellipse12 {
    width: 55px;
    height: 55px;
    left: 0px;
    top: 0px;
    position: absolute;
    background: #2644D9;
}

.Ellipse14 {
    width: 8.59px;
    height: 8.59px;
    left: 27.50px;
    top: 41.
}